@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
body {
    font-family: serif;
}

.bg-alabaster {
    background-color: #E7E5D9;
}

.text-charcoal {
    color: #1A1A1A;
}

.bg-charcoal {
    background-color: #1A1A1A;
}

.text-alabaster {
    color: #E7E5D9;
}
